@layer bootstrap, custom;


@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css") layer(bootstrap);

:root {
    --mainSiteColour: #4b594a;
    --secondarySiteColour: #969696;
    --accentSiteColour: #B698D7;
    --titleFont: 'spectral', serif;
    --bodyFont: 'work-sans', sans-serif
}


header {
    margin: 0 auto;
    text-align: center;
}

.banner {
    align-items: center;
    background-color: var(--mainSiteColour);
    color: #FFFFFF;
    padding: 10px;
    border-block-start: 7px solid var(--secondarySiteColour);
    border-block-end: 7px solid var(--secondarySiteColour);

    img {
        width: 20vw;
        max-inline-size: 150px;
        min-inline-size: 100px;
        height: auto;
        flex-shrink: 0.5;
        margin: auto 0;
    }

    div {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }

}

h1 {
    color: #FFFFFF;
    font-family: var(--titleFont);
    margin: 0 auto;
    font-size: clamp(1.5rem, 3vw, 3rem);
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
}

h2 {
    font-family: var(--titleFont);
    text-align: center;
    display: block;
    background-color: var(--accentSiteColour);
}

.banner nav,
footer nav {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-inline-start: 0;


        li {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}


.hidden {
    display: none;
}

nav .pagesBanner {
    text-decoration: none;
    padding: 10px;
    background-color: var(--secondarySiteColour);
    color: #000000;
    border: 3px solid var(--accentSiteColour);
    margin: 5px;
    text-align: end;
    font-family: var(--bodyFont);
    font-size: clamp(.8em, 1vi + .8em, .9em);
}

hr {
    background-color: var(--accentSiteColour);
    height: 3px;
}

em {
    font-style: normal;
    font-weight: bold;
    color: var(--mainSiteColour);
}

section {
    justify-content: center;
    align-items: center;



    div {
        border: var(--mainSiteColour) solid 2em;
        margin: 2em;
        padding: 1em;
        box-shadow: .2em .2em .2em var(--secondarySiteColour);
        text-align: inline-start;
        position: relative;

        dt {
            font-family: var(--titleFont);
        }

        p,
        dd {
            font-family: var(--bodyFont);
            margin-inline-start: 0;
        }

        p::first-letter,
        dd::first-letter {
            color: var(--mainSiteColour);
            font-size: 2em;
        }

        table,
        td {
            border-collapse: collapse;
            border: solid #000000;
        }

        th {
            font-style: bold;
            color: var(--accentSiteColour);
            background-color: #000000;
        }
    }

    img {
        inline-size: 60%;
        max-width: 100%;
        max-height: fit-content;
        border: #000000 solid .25em;
        box-shadow: .2em .2em .2em var(--secondarySiteColour);
        flex-shrink: 1;
        object-fit: cover;
        display: block;
        margin: 10px auto;
    }

    ul {
        margin: 0;
        padding-inline-start: 0;

        li {
            list-style-type: none;

            a {
                text-decoration: underline solid var(--accentSiteColour) 3px;
                font-family: var(--bodyFont);
                color: #000000;
            }
        }
    }
}

h3 {
    color: #000000;
    font-family: var(--titleFont);
    background-color: var(--secondarySiteColour);
    padding: .1em;
    display: inline;
    border-radius: 5px;
    font-size: clamp(.5em, 1em, 1.5em);
}

#floatingImage {
    float: right;
    inset-inline-end: 15px;
    inset-block-start: 70px;
    max-height: 60%;
    max-width: 30%;
}

dt {
    font-family: var(--bodyFont);
}

#servicesTableContainer {
    overflow: auto;
    margin: 0 0 2em 0;

    .servicesTable {
        padding: 1em;
        inline-size: 90%;
        margin-block-end: 1em;
        font-family: var(--bodyFont);
    }
}



footer {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--secondarySiteColour);
    border-block-start: 7px solid #000000;
    border-block-end: 7px solid #000000;

    nav .pagesFooter {
        text-decoration: none;
        padding: 10px;
        background-color: var(--mainSiteColour);
        color: #FFFFFF;
        border: 3px solid var(--accentSiteColour);
        margin: 5px;
        font-family: var(--bodyFont);

    }
}

address {
    font-family: var(--bodyFont);
    font-size: clamp(.8em, 1vi + .8em, .9em);
    text-align: center;
    justify-content: center;

    a {
        text-decoration: underline solid var(--accentSiteColour) 3px;
        color: #000000;
        font-family: var(--bodyFont);
        font-size: clamp(.8em, 1vi + .8em, .9em);
        font-style: normal;
    }

}

#outsideLinksList li {
    list-style-image: url('../images/NorthernIronLogoFavicon.png');
    margin-inline-start: 1em;
}

.linksParagraph a {
    text-decoration: underline solid var(--accentSiteColour) 3px;
    font-family: var(--bodyFont);
    color: #000000;
}

@layer custom {
    .btn-primary {
        background-color: var(--accentSiteColour) !important;
        border: var(--accentSiteColour) !important;
        padding: 1em;
        display: inline;
    }

    video {
        max-inline-size: 90%;
        justify-self: center;
        display: block;
        margin: auto;
    }

}

@media screen and (min-width: 768px) {
    .banner {
        display: flex;
        align-items: center;

        .pagesBanner:hover {
            background-color: var(--accentSiteColour);
            color: #000000;
            font-family: var(--bodyFont);
            font-size: clamp(.8em, 1vi + .8em, .9em);
        }
    }

    .logo {
        max-inline-size: 200px;
        width: 20%;
    }

    .tagline {
        padding-inline: 2em;

    }

    .flexPage {
        display: flex;

        section:first-of-type {
            max-inline-size: 60%;
        }
    }

    .gridPage {
        display: grid;
        grid-template-areas: "top top"
            "Tleft Tright"
            "Bleft Bright"
            "bottom bottom";
    }

    #top {
        grid-area: top;
    }

    #Tleft {
        grid-area: Tleft;
    }

    #Tright {
        grid-area: Tright;
    }

    #Bleft {
        grid-area: Bleft;
    }

    #Bright {
        grid-area: Bright;
    }

    #bottom {
        grid-area: bottom;
    }

    .hidden {
        display: block;
    }

    .floatingImageContainer {
        display: flex;
        position: relative;

        .floatingImage {
            float: right;
            max-height: 100%;
            width: 35%;
            margin: 1em;
        }
    }

    #hoursImage {
        max-width: 300px;
    }

    footer {
        display: flex;

        & .pagesFooter:hover {
            background-color: var(--accentSiteColour);
            color: #000000;
            font-family: var(--bodyFont);
            font-size: clamp(.8em, 1vi + .8em, .9em);
        }

        .logo {
            max-inline-size: 15%;
        }
    }

    address a:hover,
    .outsideLinks:hover {
        background-color: var(--accentSiteColour);
        color: #000000;
        font-family: var(--bodyFont);
        font-size: clamp(.8em, 1vi + .8em, .9em);
    }


    #servicesTableContainer {
        display: flex;
        justify-content: center;

        #servicesTable {
            margin: 0;

            td {
                padding: 1em;
            }
        }

    }

    .centeredText {
        display: flex;
        align-items: center;
    }
}